.idea

artifacts
artifacts/*
artifacts/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

node_modules
node_modules/*
node_modules/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

.DS_Store

*.tgz
*.zip
