.idea
.vscode
.eclipse

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

layer
nodejs

env.json

.aws-sam

.DS_Store

*.tgz
*.zip

!scripts/layer
